body{
    font-family: Arial, sans-serif;
    color: #1f2937;
    background: #F2FFF7;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: #1f2937;
    margin-left: -2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo img{
    height: 33px;
    width: auto;
}

.menu{
    backdrop-filter: blur(10px);
    text-decoration: none;
    padding: 0px 25%;
    gap: 20rem;
    width: 100%;
    position: fixed;
    display: flex;
    background-color: rgb(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 1000;
}

.menu-li{
    display: flex;
    gap: 40px;
    padding-top: 12px;
    display: flex;
    list-style: none;
    gap: 2.5rem;
    align-items: center;
}

.menu-li a{
    text-decoration: none;
    color: #1f2937;
    font-weight: 500;
}

.entrar{
    font-size: 16px;
    margin-top: 20px;
    background-color: #2ec272;
    color: white !important;
    border: 0;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

li{
    list-style: none;
}


#inicio {
    padding: 7rem 10%;
    padding-bottom: 2.5rem;
}

.meio{
    flex: 1;
    min-width: 250px;
    max-width: 400px;
    background: #ffffff;
    padding: 2.5rem;
    margin-bottom: 5rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.botao{
    display: flex;
    gap: 20px;
}

.texto h1{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}

.texto p{
    font-size: 1.25rem;
    color: #6b7280;
    margin-bottom: 2.5rem;
    text-align: center;
}

.grid{
    justify-content: center;
    width: 100% !important;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 16px;
}

section{
    padding: 0 20%;
}

.meio h2{
    text-align: center; 
    font-size: 30px;
    margin-bottom: 1rem !important;
}

.meio p{
    padding-bottom: 1rem !important;
    font-size: 18px;
}

button{
    font-size: 18px;
    background-color: #2ec272;
    color: white;
    border: 0;
    padding: 17px 27px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 15px;
}

.botao_centro{
    text-align: center !important;
    justify-content: center !important;
}
