.logo{
    height: 33px;
    width: auto;
}
.menu{
    width: 100%;
    position: fixed;
    display: flex;
    background-color: #ececec;
}
.menu-li{
    display: flex;
    gap: 40px;

}
li{
    list-style: none;
}
#inicio{
    margin-top: 30px;
    height: 600px;
    padding: 2rem;

}
#recursos{
    padding: 2rem;
    background-color: #8d8d9b;
}
#como-funciona{
    padding: 2rem;
    background-color: brown;
}
footer{
    color: white;
    padding: 2rem;
    background-color: rgb(24, 24, 24);
}
#beneficios{
        padding: 2rem;
    background-color: rgb(65, 175, 175);
}
body{
    font-family: Arial, sans-serif;
}